extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light #{user_data.FirstName} #{user_data.LastName}
        h5 #{user_data.Email}

        p You are accessing this application using an API User connected to #{account_data.Name} (#{account_data.Id})

    div.col-lg-4.col-sm-12
      div.bs-callout.bs-callout-info
        p
          a(href='vendors') See All Vendor Contracts

    div.col-lg-4.col-sm-12
      div.bs-callout.bs-callout-info
        p
          a(href='workflow') Trigger a process
        p
          a(href='doc_launcher') Embed a Doc Launcher

    div.col-lg-4.col-sm-12
      div.bs-callout.bs-callout-info
        p
          a(href='vendors') Upload a document




