extends layout

block content
  div.row.main
    div.col-lg-12.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light #{account_name}

        strong All agreements
        p=child_documents.Total
        ul
          each doc in child_documents
            li= doc.Name

        h3.light Contract Attributes
        table
          tr
            td Link to Contract
            td
              a(href=preview_url, target='_blank') #{this_document.Name}

          tr
            td Contracting Party
            td=contract_attributes['Contracting Party'].Value
          tr
            td Contract Category
            td=contract_attributes['Category'].Value
          tr
            td Status
            td=contract_attributes['Status'].Value
          tr
            td Document Type
            td=contract_attributes['Document Type'].Value






