extends layout

block content
  div.row.main
    div.col-lg-4.col-sm-12
      div.bs-callout.bs-callout-info
        h1.light #{vendor_name}

        strong All agreements
        ul
          each doc in agreements
            li
              //- a(href=doc.PreviewUrl class='load_doc') #{doc.Name}
              a(href='#' class='load_doc' data-url=doc.PreviewUrl) #{doc.Name}

    div.col-lg-8.col-sm-12
      iframe.document(width='100%', height='600', src='')





